@font-face {
    font-family: "Jost";
    src: url("./Fonts/Jost/static/Jost-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("./Fonts/Jost/static/Jost-Bold.ttf");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("./Fonts/Jost/static/Jost-SemiBoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Jost";
    src: url("./Fonts/Jost/static/Jost-BoldItalic.ttf");
    font-weight: bolder;
    font-style: italic;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.fundo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Jost", sans-serif;
}
/*
header{
    height: 6%;
}
*/
header .cabecalho{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 6vh;
    background-color: #FFDF35;
}

.cabecalho .logo{
    position: relative;
    width: 25%;
    height: 100%;
    margin-left: 2.5rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.logo img{
    position: absolute;
    top: 0.5rem;
    max-width: 2.5rem;
    height: auto;
    transform: rotate(18.57deg);
}

.cabecalho nav{
    margin-left: 40%;
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho nav .barra-nav{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.barra-nav .nav-link{
    padding-left: 1rem;
}

main{
    margin: 0;
    width: 100vw;
    height: 100vh;
   
}

main .apresentacao{
    height: 80%;
    background-size:contain;    
    background-image: url(./Image_Backgrounds/bg_patas_2.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}

.titulo-apresentacao{
    font-size: 3rem;
    margin-top: 1.5rem;
}

.texto-apresentacao{
    font-size: 1.5rem;
}
